body {
    background-color: #1D1C1C;
    padding:1.5em;
}

h1 {
    color:white;
    font-family:"Charm";
    font-weight:400;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

h1:hover {
    color: pink;
    text-shadow:0px 0px 30px pink;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

img {
    border: 1px rgb(195, 176, 176) solid;
}

#titlestuff:hover #tooltiptext {
    opacity:1;
    transition: opacity 0.5s;
}

#tooltiptext {
    background-color:lightgrey;
    padding:2px;
    font-family:"Inter";
    font-size:12px;
    opacity:0;
    z-index:1;
    position:relative;
    left:280px;
    top:-3vh;
}

.receipt {
    position: absolute;
    max-height:70vh;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.charm-regular {
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

#draggable {
  position: absolute;
  z-index: 9;
  width:100%;
}

#draggable1 {
    position: absolute;
    left:0px;
    top:30px;
    max-height:70vh;
    z-index: 15;
}

#draggable2 {
    position: absolute;
    z-index:9;
    left:16%;
    top:40px;
}

#draggable3 {
    position:absolute;
    left:25%;
    z-index:9;
    top:0px;
}

#draggable4 {
    position:absolute;
    left:56%;
    top:50px;
    z-index:12;
}

#draggable5 {
    position:absolute;
    left:40%;
    top:70px;
    z-index:10;
}

#draggable6 {
    position:absolute;
    left:70%;
    z-index:9;
}

#draggable7 {
    position: absolute;
    z-index:8;
    left:80%;
    top:20px;
}