body {
    background-color: #1D1C1C;
    padding:1.5em;
    overflow:hidden;
}

h1 {
    color:white;
    font-family:"Charm";
    font-weight:400;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

h1:hover {
    color: pink;
    text-shadow:0px 0px 30px pink;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

img {
    user-select: none;
}

#questionbttn {
    border:none;
    background-color:transparent;
    color:white;
    font-family:"DM Mono";
    font-size:large;
    position:absolute;
    right:3em;
    top:3em;
    border-radius:25px;
}

#questionbttn:hover {
    color:pink;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

#popuptutorial {
    visibility:visible;
    display:block;
    z-index:10;
    width:100vw;
    height:100vh;
    position:absolute;
    margin:auto;
    background-color:#1d1c1cec;
    color:white;
}

#popuptutorial p{
    font-family:"DM Mono";
    font-weight:300;
    font-size:small;
    text-align:center;
    margin-top:20px;
}

#popupimg {
    width:50%;
    margin:auto;
    margin-top:4%;
    display:flex;
}

#titlestuff:hover #tooltiptext {
    opacity:1;
    transition: opacity 0.5s;
}

#tooltiptext {
    background-color:lightgrey;
    padding:2px;
    font-family:"Inter";
    font-size:12px;
    opacity:0;
    z-index:1;
    position:relative;
    left:280px;
    top:-3vh;
}

.modal {
    display:none;
    position:fixed;
    z-index:20;
    padding-top:100px;
}

.receipt {
    position: absolute;
    max-height:70vh;
    border: 1px rgb(195, 176, 176) solid;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.charm-regular {
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

#draggable {
  position: absolute;
  z-index: 0;
  width:100%;
}

#nanotwt {
    position: absolute;
    left:0px;
    top:30px;
    max-height:70vh;
    z-index:0;
}

#nanodoc {
    position: absolute;
    z-index:0;
    left:16%;
    top:40px;
}

#baotwt {
    position:absolute;
    left:25%;
    z-index:0;
    top:0px;
}

#baodoc {
    position:absolute;
    left:56%;
    top:50px;
    z-index:0;
}

#sindertwt {
    position:absolute;
    left:40%;
    top:70px;
    z-index:0;
}

#sinderdoc {
    position:absolute;
    left:70%;
    z-index:0;
}

#sinder1000pg {
    position: absolute;
    z-index:0;
    left:80%;
    top:20px;
}